Albion_ProfitChecker/obj/Debug/net8.0/Albion_ProfitChecker.AssemblyInfo.cs
Albion_ProfitChecker/obj/Debug/net8.0/Albion_ProfitChecker.AssemblyInfoInputs.cache
Albion_ProfitChecker/ui/public/results.js
Albion_ProfitChecker/ui/public/results-eu.js
.omo
.codegraph