body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -0.015em;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #05080a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1a2c32;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}

.sparkline-svg {
  stroke: #2dd4bf;
  stroke-width: 1.5;
  fill: none;
}
